@import '../../styles/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  transition: left 0.7s ease-in-out;
  position: relative;
  max-width: 400px;
  overflow-y: auto;
  width: 100%;
  left: calc(50% - 200px);
  &_slide {
    left: 0;
  }
}

.card {
  display: flex;
  padding: 20px 10px;
  height: 80px;

  background-color: $color-white;
  transition: background-color 0.7s ease-in-out;
  &:hover {
    cursor: pointer;
  }

  &_selected {
    transition: background-color 0.7s ease-in-out;
    background-color: $color-gray-light;
  }
  &_removing {
    animation: funnyAnimation 0.7s ease;
  }

  &__icon {
    width: 20px;
    height: 20px;

    &__container {
      width: 40px;
      height: 40px;
      background-color: $color-gray-dark;
      border-radius: 50%;
      margin-right: 20px;
      padding: 9px 10px 11px 10px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
  }
  &__header {
    color: $color-black;
    font-size: 1rem;
  }
  &__id {
    color: $color-gray-dark;
    font-size: 0.875rem;
  }
}

@keyframes funnyAnimation {
  25% {
    transform: scale(0.8);
  }
  50% {
    transform: matrix(0.8, 0, 0.25, 0.8, 0, 0);
  }
  99% {
    height: 80px;
  }
  100% {
    transform: translateX(-1000px);
    height: 0px;
  }
}
