@import '../../styles/colors';

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
  min-width: 300px;
  width: 100%;
  height: max-content;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid $color-black;
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
  &_hidding {
    opacity: 0;
  }
  &__textarea {
    height: 250px;
  }
  & button {
    margin: 0 auto;
  }
}
